@import "../../../styles/base/mixins";

.user {
  height: 254px;
  width: 370px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  &Image {
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  &Name{
    p{
        @include nunito-regular-16;
        cursor: pointer;
    }
  }

  &Info{
    p{
        @include nunito-regular-16;
        cursor: pointer;
    }
  }
}

 
@media screen and (min-width: 360px) and (max-width: 480px){
  .user {
    height: 254px;
    width: 328px;
  }
}

@media screen and (min-width: 481px) and (max-width: 820px){
  .user {
    height: 254px;
    width: 344px;
  }
}


@media screen and (min-width: 821px) and (max-width: 1600px){
  .user {
    height: 254px;
    width: 282px;
  }
}


