@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.header {
  width: 2560px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  &Icon {
    margin-left: 695px;
    display: flex;
    width: 120px;
    span {
      @include nunito-regular-16;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &User {
    margin-left: 840px;
    button {
      width: 100px;
      height: 34px;
      border-radius: 80px;
      background-color: $buttonBackgroundColor;
      @include nunito-regular-16;

      &:hover {
        background-color: $buttonHoverColor;
      }
    }
  }

  &SignUp {
    margin-left: 10px;
    button {
      width: 100px;
      height: 34px;
      border-radius: 80px;
      background-color: $buttonBackgroundColor;
      @include nunito-regular-16;

      &:hover {
        background-color: $buttonHoverColor;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 460px) {
  .header {
    width: 360px;
    height: 60px;

    &Icon {
      margin-left: 16px;
    }
    
    &User {
      margin-left: -2px;
    }
  }
}

@media screen and (min-width: 461px) and (max-width: 820px) {
  .header {
    width: 768px;
    height: 60px;

    &Icon {
      margin-left: 32px;
    }

    &User {
      margin-left: 374px;
    }
  }
}

@media screen and (min-width: 821px) and (max-width: 1600px) {
  .header {
    width: 1024px;
    height: 55px;
    &Icon {
      margin-left: 60px;
    }

    &User {
      margin-left: 577px;
    }
  }
}
