@font-face {
  font-family: "Nunito";
  src: url("./styles//fonts//Nunito/Nunito-VariableFont_wght.ttf"),
    url("./styles//fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #F8F8F8;
}
