// Color palette
$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;

// Buttons
$buttonBackgroundColor: $primaryColor;
$buttonHoverColor: #FFE302;
$buttonDisabled: #B4B4B4;

// Fields
$fieldBorderRadius: 4px;

